<section id="home_view" class="view">
	<h2>Accueil</h2>
	<p>Bienvenue sur Midgard !</p>
	<p class="bold brown">[FR] _Midgard_ - RP/PVP/Events</p>

	<div class="separator"></div>
	<h3>Présentation</h3>
	<p>Midgard est un serveur PvP / Role Play francophone.</p>
	<p>Des Events sont régulierement organisés, notamment :</p>
	<ul>
		<li>Le <a href="https://docs.google.com/spreadsheets/d/11CaBBp-L92XpDRYbYGSVb3Jxx0Y5Sl_FRWqA4v7cX2g/edit?pref=2&pli=1#gid=2072328497" target="_nlank">marché</a>, qui ouvre a 21h le mercredi</li>
		<li>Le JH (Jour du Jugement), qui a lieu le dimanche de 21h a 23h</li>
		<li>...</li>
	</ul>
	<div class="imgs">
		<img src="img/screenshots/city.jpg">
		<img src="img/screenshots/battle.jpg">
	</div>

	<div class="separator"></div>
	<h3>Regles</h3>
	<p>A la fois pour le bien de la communauté et le bien du serveur, certaines regles se doivent d'etres respectées par les joueurs.</p>
	<p><a href="http://steamcommunity.com/groups/FRMidgard/discussions/0/412446890558739777/" target="_blank">Lire les regles du serveur.</a></p>

	<div class="separator"></div>
	<h3>En bonus !</h3>
	<p>Des Mods sont installés sur le serveur.</p>
	<p>Libre a vous de les installer également en suivant <a href="#/mods">ces instruction</a> !</p>
	<div class="small_separator"></div>
	<p>Midgard dispose de territoires contestes que vous pouvez voir sur la <a href="#/carte">Carte Interactive</a>.</p>
	<div class="small_separator"></div>
	<p>Le serveur Teamspeak : <span class="blue">164.132.93.40:51681</span></p>

	<div class="separator"></div>
</section>
