<section id="map_view" class="view">
	<h2>Carte</h2>

	<div class="controls">
		<p>Afficher la grille <input ng-model="grid" ng-click="toggle_grid();" type="checkbox"></input></p>
		<p>Afficher les positions <input ng-model="positions" ng-click="toggle_positions();" type="checkbox"></input></p>
		<p>Afficher les territoires <input ng-model="territories" ng-click="toggle_territories();" type="checkbox"></input></p>
		<p>Afficher les zones interdites a la construction <input ng-model="locked" ng-click="toggle_locked();" type="checkbox"></input></p>
	</div>

	<div id="map_container" ng-init="init();" ng-mousemove="mousemove($event.layerX, $event.layerY);" ng-mouseenter="enter();" ng-mouseleave="leave();">
		<div id="logs">
			{{posx}} - {{posy}}
		</div>
	</div>
</section>
