@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Oswald:700");

* { box-sizing: border-box; margin: 0px; padding: 0px; outline: none;}
html {}
body { background-image: url("../img/lif_bg.jpg"); background-repeat: no-repeat; background-size: cover; font-size: 0px; font-family: "Roboto"; color: #333;}
input { font-family: "Roboto";}
h1, h2, h3, h4, h5, h6 { font-family: "Oswald"; font-weight: 400;}
a { text-decoration: none;}

.max_width { display: block; width: 800px; margin: auto;}

#main_header { position: relative; height: 64px; background-color: #fafafa;}
	#main_header > .max_width { height: 64px;}
		#main_header > .max_width > h1 { display: inline-block; vertical-align: top; width: 150px; height: 64px; line-height: 64px; padding-left: 8px; font-size: 32px;}
		#main_header > .max_width > div { display: inline-block; vertical-align: top; width: calc(100% - 150px); height: 64px; padding: 8px 8px 8px 0px; text-align: right;}
			#main_header > .max_width > div > p { height: 24px; line-height: 24px; font-size: 16px;}
				#main_header > .max_width > div > p > span { color: #09f;}

#main_nav { height: 32px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fafafa; box-shadow: 0px 0px 4px #000;}
	#main_nav > .max_width { height: 30px;}
		#main_nav > .max_width > a { display: inline-block; vertical-align: top; height: 30px; line-height: 30px; padding: 0px 8px 0px 24px; border-left: 1px solid #ddd; background-size: 16px 16px; background-position: 4px 50%; background-repeat: no-repeat; font-size: 16px; color: #333; transition: all 250ms ease;}
		#main_nav > .max_width > a:last-child { border-right: 1px solid #ddd;}
		#main_nav > .max_width > a.server { background-image: url("../img/icons/server.svg");}
		#main_nav > .max_width > a.map { background-image: url("../img/icons/map.svg");}
		#main_nav > .max_width > a.clans { background-image: url("../img/icons/clans.svg");}
		#main_nav > .max_width > a.mods { background-image: url("../img/icons/mods.svg");}
		#main_nav > .max_width > a:hover { background-color: #eee; color: #09f;}

#main_div { display: block; width: 800px; margin: auto;}
	#main_div > .view { }
		#main_div > .view > h2 { font-size: 24px;}